@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    display: none;
}

.light {
    --background-color: 255, 255, 255;
    --foreground-color: 0, 0, 0;
    --primary-color: 34, 41, 124;
    --secondary-color: 254, 204, 11;
    --danger-color: 239, 68, 68;
    --gray-color: 243, 244, 246;
    --green-color: 34, 197, 94;
    --white-color: 255, 255, 255;
}

.dark {
    --background-color: 31, 41, 55;
    --foreground-color: 229, 231, 235;
    --primary-color: 79, 70, 229;
    --secondary-color: 251, 191, 36;
    --danger-color: 248, 113, 113;
    --gray-color: 55, 65, 81;
    --green-color: 22, 163, 74;
    --white-color: 31, 41, 55;
}
